body {
    background-image: url("https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-2381.jpg?size=626&ext=jpg&ga=GA1.2.1970738275.1660396729");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family:sans-serif ;
    color: #425364;
    line-height: 1.5;
     font-size: 16px; 
 } 
.search-column{
    background-color: #D3D3D3;
}
.list-group-item {
    line-height: 0.5;
    border: none; 
}
/*  */
.card-body{
    flex: auto;
}



span.severe{
    padding: 3px;
    background-color:red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}
